{% extends '/includes/_navbar_base.html' %}

{% block content %}
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop_support" data-toggle="dropdown">
        Customer Support
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/viewF">Create Feedback</a>
        <a class="dropdown-item" href="/viewfeedback">View Feedback</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop_inventory" data-toggle="dropdown">
        Rewards
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/showUserRewards">Show Available Rewards</a>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/viewproduct">Products</a>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop_profile" data-toggle="dropdown">
        Account: {{ session['logged_in_user'] }}
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{{ url_for ('edit_profile', username= session['logged_in_user']) }}">My Account</a>
        <a class="dropdown-item" href="/logout">Log out</a>
      </div>
    </li>
  </ul>
{% endblock %}