{% extends "base.html" %}
{% block title %}ATRiX - Add Order{% endblock %}

{% block navbar %}
    {% include "includes/_navbar_staff.html" %}
{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<div class="wrapper">
  <div class="form-header">
    <h1>Add Order</h1>
  </div>
  <div class="entry-form">
    <form method="POST" action="">
      <div class="form-group">
        {{ render_field(form.name, class="form-control") }}
      </div>
      <div class="form-group">
        {{ render_field(form.item, class="form-control") }}
      </div>
      <div class="form-group">
        {{ render_field(form.quantity, class="form-control") }}
      </div>
      <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>
  </div>
</div>

{% endblock %}
